body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(106, 106, 106);
    text-align: center;
    font-size: large;
    overflow: hidden;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40%;
    background-color: rgba(255, 255, 131, 0.415);
    border-radius: 25px;
    padding: 1rem;
    box-shadow: 10px 10px 20px rgb(217, 221, 176);
}

a {
    color: rgb(106, 106, 106);
    font-weight: bold;
}
